<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klip.android.broadcastbestpractice">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".ForceOfflineReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="ab" /> -->
            <!-- </intent-filter> -->

        </receiver>
        <!-- 下面两句不写在其他程序调用，这个内容提供器的时候，会报security exception -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <provider
            android:name=".DatabaseProvider"
            android:authorities="com.klip.android.broadcastbestpractice.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".NotificationActivity"></activity>
    </application>

</manifest>